
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@font-face {
    font-family: Poppins-regular;
    font-weight: 500;
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
}
@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
}
@font-face {
    font-family: Poppins-bold;
    font-weight: 700;
    src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
}
body{
    background: #E9ECEF;
}
.bold_text{
    font-family: 'Poppins-bold', sans-serif;
}
.regular_text{
    font-family: 'Poppins-regular', sans-serif;
}
.text_base{
    font-family: "Poppins", sans-serif;
}

